<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  
    <!--############-->
    <!-- Tree Nodes -->
    <!--############-->
    <add key = "MenuTree_RootNode" value = "VGMToolbox"/>

    <!-- Auditing Node -->
    <add key = "MenuTree_AuditingRootNode" value = "Auditing Tools"/>
    <add key = "MenuTree_DatafileCreatorNode" value = "Datafile Creator"/>
    <add key = "MenuTree_RebuilderNode" value = "Rebuilder"/>
    <add key = "MenuTree_DatafileCheckerNode" value = "Datafile Checker"/>
    <add key = "MenuTree_CollectionBuilderNode" value = "Collection Builder"/>

    <!-- Examine Node -->
    <add key = "MenuTree_ExamineRootNode" value = "Examine/Exploration Tools"/>
    <add key = "MenuTree_TagViewerNode" value = "Tag/Info Viewer"/>
     
    <!-- Miscellaneous Node -->
    <add key = "MenuTree_MiscellaneousToolsNode" value = "Misc. Tools"/>

    <!-- Hoot Node -->
    <add key = "MenuTree_HootRootNode" value = "Hoot Tools"/>
    <add key = "MenuTree_CsvDatafileNode" value = "CSV to Datafile"/>
    <add key = "MenuTree_XmlBuilderNode" value = "XML Builder"/>

    <!-- NSF Node -->
    <add key = "MenuTree_NsfRootNode" value = "NSF Tools"/>
    <add key = "MenuTree_NsfeM3uNode" value = "NSFE to NSF + M3U"/>

    <!-- GBS Node -->
    <add key = "MenuTree_GbsRootNode" value = "GBS Tools"/>
    <add key = "MenuTree_GbsM3uNode" value = "GBS M3U Creator"/>

    <!-- xSF Node -->
    <add key = "MenuTree_XsfRootNode" value = "xSF Tools"/>
    <add key = "MenuTree_Xsf2ExeNode" value = "xSF2EXE"/>

    <add key = "MenuTree_2sfRootNode" value = "2SF"/>
    <add key = "MenuTree_2sfRipperOldNode" value = "2SF Ripper (Old Format)"/>
    <add key = "MenuTree_2sfTimerNode" value = "2SF Timer"/>
    <add key = "MenuTree_SdatOptimizerNode" value = "SDAT Optimizer"/>
        
    <add key = "MenuTree_PsfRootNode" value = "PSF"/>
    <add key = "MenuTree_Bin2PsfFENode" value = "bin2psf Front End"/>
        
    <add key = "MenuTree_Psf2RootNode" value = "PSF2"/>
    <add key = "MenuTree_MkPsf2FENode" value = "mkpsf2 Front End"/>
    <add key = "MenuTree_UnPkPsf2FENode" value = "unpksf2 Front End"/>
    <add key = "MenuTree_Psf2ToPsf2LibNode" value = "PSF2 to PSF2LIB"/>
    <add key = "MenuTree_Psf2SqExtractorNode" value = "PSF2 SQ Extractor"/>
    <add key = "MenuTree_Psf2TimerNode" value = "PSF2 Timer"/>
        
    <add key = "MenuTree_SsfRootNode" value = "SSF"/>
    <add key = "MenuTree_SsfMakeFENode" value = "ssfmake Front End"/>
    <add key = "MenuTree_SsfSeqTonExtFENode" value = "seqext/tonext Front End"/>

    <!-- Extraction Node -->
    <add key = "MenuTree_ExtractionRootNode" value = "Extraction Tools"/>

    <add key = "MenuTree_ExtractionGenericRootNode" value = "Generic"/>
    <add key = "MenuTree_OffsetFinderNode" value = "Simple Cutter/Offset Finder"/>

    <add key = "MenuTree_ExtractionNdsRootNode" value = "Nintendo DS"/>
    <add key = "MenuTree_SdatExtractorNode" value = "SDAT Extractor"/>
    <add key = "MenuTree_SdatFinderNode" value = "SDAT Finder"/>

    <add key = "MenuTree_ExtractionPcRootNode" value = "PC"/>

    <!--#######-->
    <!-- Forms -->    
    <!--#######-->
    <add key = "Form_Global_OperationCancelled" value = "Operation cancelled."/>
    <add key = "Form_Global_CancelPending" value = "CANCEL PENDING..."/>


    <!-- Auditing: Datafile Checker -->
    <add key = "Form_AuditDatafileChecker_Title" value = "Datafile Checker"/>
    <add key = "Form_AuditDatafileChecker_DoTaskButton" value = "Check Datafile"/>
    <add key = "Form_AuditDatafileChecker_IntroText" 
         value = "Check an existing datafile for duplicate checksums and output a report."/>

    <add key = "Form_AuditDatafileChecker_MessageBegin" value = "Checking Datafile...Begin"/>
    <add key = "Form_AuditDatafileChecker_MessageComplete" value = "Checking Datafile...Complete"/>
    <add key = "Form_AuditDatafileChecker_MessageCancel" value = "Checking Datafile...Cancelled"/>
    
    <add key = "Form_AuditDatafileChecker_GroupSource" value = "Source and Destination"/>
    <add key = "Form_AuditDatafileChecker_LblSourceDataFile" value = "Source Datafile"/>
    <add key = "Form_AuditDatafileChecker_LblReportDestination" value = "Report(s) Destination Folder"/>

   <!-- Auditing: Datafile Creator -->
    <add key = "Form_AuditDatafileCreator_Title" value = "Datafile Creator"/>
    <add key = "Form_AuditDatafileCreator_DoTaskButton" value = "Create Datafile"/>
    <add key = "Form_AuditDatafileCreator_IntroText"
         value = "Create a datafile for the input files."/>

    <add key = "Form_AuditDatafileCreator_GroupHeader" value = "Header Information"/>
    <add key = "Form_AuditDatafileCreator_GroupSourceDestination" value = "Source/Destination"/>

    <add key = "Form_AuditDatafileCreator_LblHeaderName" value = "Name"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderDescription" value = "Description"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderVersion" value = "Version"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderAuthor" value = "Author"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderComment" value = "Comment"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderCategory" value = "Category"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderDate" value = "Date"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderEmail" value = "EMail"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderHomepage" value = "Homepage"/>
    <add key = "Form_AuditDatafileCreator_LblHeaderUrl" value = "URL"/>
      
    <add key = "Form_AuditDatafileCreator_MessageBegin" value = "Building Datafile..."/>
    <add key = "Form_AuditDatafileCreator_MessageComplete" value = "Building Datafile...Complete"/>
    <add key = "Form_AuditDatafileCreator_MessageCancel" value = "Building Datafile...Canceled"/>
    
  </appSettings>
</configuration>